extends layout

block content
  form(method='POST' action='/add' encType='multipart/form-data')
    div Name:
    input(type='text' name='name')
    div Restaurant:
    input(type='text' name='restaurant')
    div Image:
    input(type='file' name='image')
    div
      button(type='submit')
        div Submit